
body{
    background-color: rgb(247, 236, 247);
}
.gall{
    margin: auto;
    
}
div.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
}
button{

    background: linear-gradient( rgb(196, 28, 106), violet);
    color:white;
    height: 30px;
    width: 10%;
    margin-left: 20px;
}